<html>
    <meta charset="utf-8">
    <title>DiskTag</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link href="/css/style.css" rel="stylesheet">
    <div class="container">
        <div class="row" style="margin-top:2em">
            <h1>Document Lifecycle</h1>
            Index Page | <a class="button" href=/new/black >New Document</a>
        </div>
        <div class="row">
            <div class="one-half column">
            </div>
            <div class="one-half column" >
            </div>
        </div>
    </div>
</html>
